Source: python-pyslurm
Priority: extra
Maintainer: Scibian Project <packaging@scibian.org>
Section: python
Build-Depends:
 debhelper (>= 9),
 python-setuptools (>= 0.6),
 libslurm-dev,
 slurm-wlm-basic-plugins-dev,
 cython (>= 0.21),
 python-dev
X-Python-Version: >= 2.6
Standards-Version: 3.9.6
Homepage: http://www.gingergeeks.co.uk/pyslurm/
Vcs-Browser: https://github.com/scibian/python-pyslurm
Vcs-Git: https://github.com/scibian/python-pyslurm.git

Package: python-pyslurm
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 slurm-wlm-basic-plugins
Description: Python API for slurm
 This package provide a Python API for slurm
 that can be used to contact slurmctld
